@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir/vazir-fd.eot");
  src: url("../fonts/vazir/vazir-fd.woff") format("woff"),
    url("../fonts/vazir/vazir-fd.ttf") format("ttf"),
    url("../fonts/vazir/vazir-fd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url("../fonts/bauhaus/bauhaus.ttf");
  font-weight: normal;
  font-style: normal;
}
