$primary-color: #fe4f6b;
$background-grey: #fbfbfb;
$border-grey: #f3f3f3;
$icon-grey: #bcc1c5;
$text-grey: #9da4a9;
$text-dark-grey: #a8a8a8;

$global-primary-background: $primary-color;
$global-link-color: $primary-color;
